<p>Hey {{ name }},</p>
<br />
<p>Welcome to Train Booking App. Booking train tickets just became as convenient as never before!</p>
<p>Please click below to confirm your email.</p>
<p>
    <a href="{{ url }}">Activate Account</a>
</p>
<p>If you have any questions, please don't hesitate to reach out and we'll do our best to help.</p>

<p>If you did not request this email you can safely ignore it.</p>
