<h3 style="text-align: center">Reset Password</h3>
<br />
<br />
<p>Hey {{ name }},</p>
<br />
<p>You are receiving this email because you indicated that you forgot your password.</p>
<p>Please click on the button below to reset your password.</p>
<p style="text-align: center">
    <button style="background-color: #2199e8">
        <a href="{{ url }}" style="text-decoration: none; color: white">Reset Password</a>
    </button>
</p>
<p>Copy and paste the one time link <a href="{{ url }}">{{ url }}</a> in a browser if the button does not work.</p>
<p>This link expires in one hour.</p>
<br />
<p>Ignore this email if you have not made this request.</p>

<p>If you have any questions, please don't hesitate to reach out and we'll do our best to help.</p>